In [6]:
# import pandas as pd

# # Read the CSV files
# train_df = pd.read_csv('Train/train.csv')
# val_df = pd.read_csv('Val/val.csv')

# Concatenate the dataframes
combined_df = pd.concat([train_df, val_df], axis=0, ignore_index=True)

# Save the combined dataframe to a new CSV file
combined_df.to_csv('combined_data.csv', index=False)

print("Files concatenated successfully!")

Files concatenated successfully!

In [3]:
train_df.head(3)

,caseid,age,preop_hb,preop_alb,preop_ast,preop_cr,sex,department,optype,approach,death_inhosp,asa
0,4778,57.0,10.9,4.0,14.0,0.76,M,General surgery,Colorectal,Open,0,1.0
1,1564,45.0,8.6,3.0,47.0,0.80,F,General surgery,Transplantation,Open,0,3.0
2,2083,46.0,15.1,4.3,28.0,0.68,F,Thoracic surgery,Others,Open,0,2.0

In [4]:
val_df.head(3)

,caseid,age,preop_hb,preop_alb,preop_ast,preop_cr,sex,department,optype,approach,death_inhosp,asa
0,4866,75.0,12.0,3.9,20.0,0.76,M,General surgery,Colorectal,Open,0,2.0
1,4897,56.0,14.0,4.8,15.0,0.70,F,General surgery,Colorectal,Open,0,2.0
2,1763,52.0,14.5,4.4,19.0,0.71,M,General surgery,Others,Videoscopic,0,2.0